 .github-cards {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    
  
  }
  
/* .github-card {
    display: block;
    box-sizing: border-box;
    border: 1px solid gray;
    margin: 2px;
    padding: 2px;
    color: #F6F8FA;
    text-decoration: none;
    font-size: 13px;
    width: 20%;
}  */
    
/* .github-card > h3 {
      margin-top: 0;
    color: #F6F8FA;
    
      font-size: 15px;
    }
  
   */

   .github-cards > div {
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 10px;
    /* border: 1px solid gray; */
    border-bottom: 2px solid gray;
    text-align: left;
    width: 75%;
    height: 60%;
    text-decoration: none;
    margin: auto;
  }

  h3 {
   font-size: 30px;
  }