.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F6F8FA;
  }

  @media screen and (max-width: 750px) {
    .flex-container {
      flex-direction: column-reverse;
      margin: auto;
      
    }
   
    
  }


  .flex-container > div {
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  
  img {
    width: 70%;
    height: 70%;
  }

  p {
    font-family:ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    font-size: 12px;
  }